AuthUserFile /toolbox/www/Public/ccf/main/staff/.htpasswd
AuthGroupFile /toolbox/www/Public/ccf/main/staff/.htgroup
AuthName "Super Fantastic People Only"
AuthType Basic
<Limit GET>
order deny,allow
deny from all
allow from til501.rutgers.edu
allow from til502.rutgers.edu
allow from til503.rutgers.edu
allow from til504.rutgers.edu
allow from til505.rutgers.edu
allow from til506.rutgers.edu
allow from cmburke.rutgers.edu
allow from manalam.rutgers.edu
allow from lor518.rutgers.edu
allow from lor515.rutgers.edu
allow from lor513.rutgers.edu
allow from lor512.rutgers.edu
allow from lor502.rutgers.edu
allow from lor504.rutgers.edu
allow from ccc025.rutgers.edu
allow from ccc027.rutgers.edu
allow from arc-wopr.rutgers.edu
allow from arc-hal.rutgers.edu
allow from skynet.rutgers.edu
allow from dreamwalker.rutgers.edu
allow from chococat.rutgers.edu
allow from winnie.rutgers.edu
allow from arc-marvin.rutgers.edu
require user manager
satisfy any
</Limit>

ErrorDocument 400 /ccf/cac/staff/denied.htm 
ErrorDocument 401 /ccf/cac/staff/denied.htm  
ErrorDocument 403 /ccf/cac/staff/denied.htm  
ErrorDocument 404 /ccf/cac/staff/denied.htm  
ErrorDocument 500 /ccf/cac/staff/denied.htm  
