* {
	margin: 0;
	padding: 0;
	}

body {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-color: #000;
	font-size: 18px;
	text-align: center;
	font: 1em arial, sans-serif;
	}

#main {
	width: 520px;
	position: absolute;
	top: 30px;
	left: 480px;
	}
	
.left_coloumn {
	position: absolute;
	left: 30px;
	top: 10px;
	}
	
.right_coloumn {
	position: absolute;
	left: 300px;
	top: 10px;
	}
	
#contactc, #resourcesc, #pwchangec  {
	float: left;
	width: 220px;
	}
	
#schedulesc, #formsc, #hiringc {
	float: right;
	width: 220px;
	}

.contents {
	background-color: #2A0006;
	color: #8A383E; 
	border: 1px solid #E02627;
	clear: left;
	margin-bottom: 20px;
	padding: 5px;
	}

h3 {
	color:#e02627;
	}

a:link { 
	color: #C27819; 
	text-decoration: none;
	}
	
a:visited { 
	color: #C27819;
	text-decoration: none;
	}
	
a:hover { 
	color: #FFF;
	text-decoration: none;
	} 